/* AcademicEntry.css */

.card.custom-card {
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    background-color: #F2F2F2;
}

.card.custom-card .row.g-0 .col-md-4 {
    padding: 0;
}

.card.custom-card .row.g-0 .col-md-4 .img-fluid {
    max-width: 100%;
    height: auto;
}

.card.custom-card .row.g-0 .col-md-8 {
    padding: 0;
}

.card.custom-card .card-body {
    padding: 1rem;
}

.card.custom-card .card-title {
    margin-bottom: 0.5rem;
}

.card.custom-card .card-text {
    margin-bottom: 0.5rem;
}

.card.custom-card .card-text:last-of-type {
    margin-bottom: 0;
}

.card.custom-card .text-body-secondary {
    color: #6c757d; /* Cambia esto si necesitas otro color */
}