#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.badge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 0.5rem; /* Ajusta el espacio entre los elementos si es necesario */
}
.badgeTypeI {
  background-color: #f8f9fa;
  border: 1px solid #0A66C2;
  border-radius: 50px;

  color: #0A66C2;

  padding: 10px;
  margin: 8px; /* Ajusta el margen para reducir el espacio entre los elementos */
  
  text-align: center;  
  display: inline-flex; /* Cambia a inline-flex para ajustar el ancho al contenido */  
}






.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
