#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.badge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 0.5rem; /* Ajusta el espacio entre los elementos si es necesario */
}

.badgeTypeI {
  background-color: #f8f9fa;
  border: 1px solid #0A66C2;
  border-radius: 50px;

  color: #0A66C2;

  padding: 10px;
  margin: 8px; /* Ajusta el margen para reducir el espacio entre los elementos */
  
  text-align: center;  
  display: inline-flex; /* Cambia a inline-flex para ajustar el ancho al contenido */  
}

.academic-entry-card {
  max-width: 540px;
  flex: 1 1 auto;
}

.image-container {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  padding: 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-text {
  margin-bottom: 0.5rem;
}

.card-text small {
  margin-bottom: 0;
}


/* .study-card {
  border: 1px solid #ddd; /* Color y grosor del borde */
  /*border-radius: 8px;  /* Bordes redondeados */

  /*padding: 10px;  /* Espaciado interno */
  /*margin: 10px;  /* Separación entre elementos */

  /*background-color: #E0EBF6;  /* Color de fondo */
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Sombra sutil */
/*}

.study-card img{
  width: 80px;
  height: auto;
}

.study-card .col-md-9,
.study-card .col-md-3,
.study-card .col-md-2,
.study-card .col-md-10 {
  max-width: 100%; /* Asegura que el elemento no se expanda más allá de su contenedor */
 /* flex: 1;
  /*display: flex;
 /* align-items: center; /* Centra el contenido verticalmente en cada columna */
 /* width: auto; /* Permite que el ancho se ajuste automáticamente */
/*}

.study-card .row {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
/*} */




.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
